<div class="page-header">
  <%= link_to new_website_stage_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Stage
  <% end %>
  <h1>Listing stages</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Slug</th>
            <th>Has partner</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @clapme_stages) do |clapme_stage| %>
        <td><%= image_tag clapme_stage.image_background.url(:thumb), size: '200', class: "img-thumbnail" %></td>
        <td><%= clapme_stage.name %></td>
            <td><%= clapme_stage.description %></td>
            <td><%= clapme_stage.slug %></td>
            <td><%= clapme_stage.has_partner %></td>
            <td><%= link_to 'Show', website_stage_path(clapme_stage.id) %></td>
        <td><%= link_to 'Edit', edit_website_stage_path(clapme_stage.id) %></td>
        <td><%= link_to 'Destroy', website_stage_path(clapme_stage.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
