<%= form_for(@admin_schedule, url: specific_url) do |f| %>
    <% if @admin_schedule.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@admin_schedule.errors.count, "error") %> prohibited this admin_schedule from being
            saved:</h2>

          <ul>
            <% @admin_schedule.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :stage %>
      <br>
      <%= f.collection_select(:clapme_stages_id, Clapme::Stage.all, :id, :name, prompt: I18n.t('general.text.select').concat('...')) %>
    </div>
    <div class="field">
      <%= f.label :concurrent_events_enable %>
      <br>
      <%= f.check_box :concurrent_events_enable %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
